// Variablen
$gutter-width: 30px; // Abstand zwischen den Spalten
$grid-columns: 12; // Anzahl der Spalten im Grid

$breakpoints: (
  "xs": 0,      // Extra kleine Geräte (Porträt-Handys, weniger als 576px)
  "sm": 576px,  // Kleine Geräte (Landschaft-Handys, 576px und darüber)
  "md": 768px,  // Mittlere Geräte (Tablets, 768px und darüber)
  "lg": 992px,  // Große Geräte (Desktops, 992px und darüber)
  "xl": 1200px, // Extra große Geräte (große Desktops, 1200px und darüber)
);

$spacers: (
  0: 0,
  1: 0.25rem,   // 4px wenn Basisfontgröße 16px ist
  2: 0.5rem,    // 8px
  3: 1rem,      // 16px
  4: 1.5rem,    // 24px
  5: 3rem       // 48px
);

.img-fluid {
    width: 100%;           
    height: auto;           
    object-fit: cover;     
  }

@import "./grid.scss";
@import "./colors.scss";
@import "./button.scss";
@import "./typography.scss";
@import "./spacing.scss";
@import "./flex.scss";
