// Schriftgrößen Map
$font-sizes: (
  "base": 1rem,      // Basisgröße für Text wie in Paragraphen
  "lg": 1.25rem,     // Größere Texte
  "sm": 0.875rem,    // Kleinere Texte
  "xl": 1.5rem,      // Extra große Texte
  "h1": 2.5rem,      // h1 Größe
  "h2": 2rem,        // h2 Größe
  "h3": 1.75rem,     // h3 Größe
  "h4": 1.5rem,      // h4 Größe
  "h5": 1.25rem,     // h5 Größe
  "h6": 1rem         // h6 Größe
);

// Generieren von Textgrößen Klassen
@each $key, $size in $font-sizes {
  .#{$key} {
    font-size: $size;
  }
}

// Generieren von spezifischen Tag-Stilen
h1 { font-size: map-get($font-sizes, h1); }
h2 { font-size: map-get($font-sizes, h2); }
h3 { font-size: map-get($font-sizes, h3); }
h4 { font-size: map-get($font-sizes, h4); }
h5 { font-size: map-get($font-sizes, h5); }
h6 { font-size: map-get($font-sizes, h6); }
p { font-size: map-get($font-sizes, base); }


// Basis Schriftgrößen
body {
  font-size: map-get($font-sizes, base);
}

// Anpassungen für kleinere Bildschirme
@media (max-width: 768px) {
  body {
    font-size: map-get($font-sizes, sm);
  }

  h1 { font-size: 1.75rem; }
  h2 { font-size: 1.5rem; }
  // Füge weitere Anpassungen hier hinzu
}
